:root {
    --bg: #e3e4e8;
    --fg: #17181c;
    --c1: #f42f25;
    --c2: #f49725;
    --c3: #255ff4;
    --c4: #9725f4;
    /* font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320)); */
}

.loading {
    /* background: var(--bg); */
    color: var(--fg);
    display: flex;
    flex-wrap: wrap;
    font: 1em/1.5 sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.pl4 {
    display: flex;
    margin: 1.5em;
    width: 6em;
    height: 6em;
    align-items: flex-end;
    justify-content: center;
    gap: 1em;
}

.pl4__a,
.pl4__b,
.pl4__c,
.pl4__d {
    width: 0.75em;
    height: 0.75em;
    animation: bounce4 2s linear infinite;
    transform-origin: 50% 100%;
}

.pl4__a {
    background: var(--c1);
}
.pl4__b {
    background: var(--c2);
    animation-delay: 0.1s;
}
.pl4__c {
    background: var(--c3);
    animation-delay: 0.2s;
}
.pl4__d {
    background: var(--c4);
    animation-delay: 0.3s;
}
@keyframes bounce4 {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        transform: scaleY(1);
        animation-timing-function: ease-out;
    }
    10% {
        transform: scaleY(6);
        animation-timing-function: ease-in;
    }
    30% {
        transform: scaleY(4);
        animation-timing-function: ease-in;
    }
    50% {
        transform: scaleY(2);
        animation-timing-function: ease-in;
    }
    70% {
        transform: scaleY(1.5);
        animation-timing-function: ease-in;
    }
}
